   <section class='customer_info_form billing_form'>

      <fieldset class='email_section'>
        <%= label_tag 'email' %>
        <%= email_field_tag 'email' %>
      </fieldset>
       <fieldset>
        <%= label_tag 'confirm_email' %>
        <%= email_field_tag 'confirm_email' %>
      </fieldset>
       <fieldset>
        <%= label_tag 'phone' %>
        <%= text_field_tag 'phone' %>
      </fieldset>
</section>
