
<p class='greeting'>Hi <%= @order.first_name_bill %>,</p>

<p class='regular_paragraph'>Thanks for purchasing a photograph from HorschGallery.com.</p>

<p  class='regular_paragraph'>Your order number is <span class='order_number'>2345</span>.</p>

<p class='regular_paragraph'>It will take 1-3 days to process the order and it will then be shipped via UPS Ground.  Once your package has been sent out for delivery, you will receive an email from UPS containing the tracking number.</p>

<p class='sub_header'>Order Summary</p>
<% if @order.is_gift %>
<table>
  <tr>
    <td>Order #<%= order.id %></td>
  </tr>
  <tr>
    <td class = 'gift'>*Since you mentioned this purchase is a gift for someone, we will not include a receipt with the package.&nbsp;&nbsp;We hope it's one of the best gifts they have ever received!</td>
  </tr>
</table>
<% end %>
<table class="table_customer_info">
  <tr>
    <th class='bold_label'>Shipping Information</th>
    <th class='bold_label'>Billing&nbsp;Information</th>
  </tr>
  <tr>
    <td><%= @order.first_name_ship %> <%= @order.last_name_ship %></td>
    <td><%= @order.first_name_bill %> <%= @order.last_name_bill %></td>
  </tr>
  <tr>
    <td><%= @order.address1_ship %></td>
    <td><%= @order.address1_bill %></td>
  </tr>
  <% unless @order.address2_ship.empty? && @order.address2_bill.empty? %>
  <tr>
    <td><%= @order.address2_ship %></td>
    <td><%= @order.address2_bill %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= @order.city_ship %>, <%= @order.state_ship %> <%= @order.zipcode_ship %></td>
    <td><%= @order.city_bill %>, <%= @order.state_bill %> <%= @order.zipcode_bill %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= number_to_phone(@order.phone_number, delimiter: ".")  %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= @order.email %></td>
  </tr>
</table>


<p class='sub_header'>Photograph Collection ( <%= pluralize(@line_items.sum(:qty),'image') %> )</p>

<% @line_items.each do |item| %>
<table class='table_full_product'>
  <tr>
    <td>
      <%  if item.mat.name == "No Mat" && item.frame.name == "No Frame" %>
        <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/hg-image/#{item.photo.id_num.downcase}.jpg", alt: "#{item.photo.title.downcase.parameterize}", width: '150'), photo_url(item.photo) %>
      <% else %>
        <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{item.photo.id_num.downcase}.jpg", alt: "#{item.photo.title.downcase.parameterize}", width: '150'), photo_url(item.photo) %>
      <% end %>
    </td>
    <td class='table_product_details'>
      <table>
        <tr>
          <td class='fix_cell_width'>ID# <%= item.photo.id_num %></td>
        </tr>
        <tr>
          <td class='fix_cell_width'>Size:&nbsp;&nbsp;<%= item.size.name %></td>
        </tr>
        <%  if item.mat.name == "No Mat" && item.frame.name == "No Frame" %>
            <!-- do nothing -->
        <% else %>
        <tr>
          <td class='fix_cell_width'>Mat:&nbsp;&nbsp;<%= item.mat.name %></td>
        </tr>
        <tr>
          <td class='fix_cell_width'>Frame:&nbsp;&nbsp;<%= item.frame.name %></td>
        </tr>
        <% end %>
        <% if item.convert_to_bw %>
        <tr>
          <td class='fix_cell_width'>Convert To B&amp;W</td>
        </tr>
        <% end %>
        <tr>
          <td class='qty_row'>Quantity: <%= item.qty %></td>
        </tr>
      </table>
    </td>
    <td class='product_total_price'><%= number_to_currency(item.total_price, precision: 0) %></td>
  </tr>
</table>
<% end %>


<p class='sub_header'>Totals</p>
<table class='table_totals'>
  <tr>
    <td class='bold_label'>Subtotal:</td>
    <td><%= number_to_currency(@order.subtotal, precision: 2) %></td>
  </tr>
  <tr>
    <td class='bold_label'>Tax:</td>
    <td><%= number_to_currency(@order.tax, precision: 2) %></td></td>
  </tr>
  <tr>
    <td class='bold_label'>Shipping:</td>
    <td><%= number_to_currency(@order.shipping, precision: 2) %></td></td>
  </tr>
  <tr>
    <td class='bold_label'>Total:</td>
    <td class='bold_label'><%= number_to_currency(@order.grand_total, precision: 2) %></td></td>
  </tr>
</table>

<p class='sub_header'>Customer Service</p>
<p class='regular_paragraph'>If you have any further questions, please reply to this email or check our website for more information.</p>

<p class='regular_paragraph'><%= link_to '14 Day Return Policy',  returns_url %></p>

<p class='footer_paragraph'>Thanks</p>
<p class='footer_paragraph'>Bob Horsch, Owner</p>
<p class='footer_paragraph'><%= link_to 'www.horschgallery.com',  root_url %></p>


