
<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Black & White</div>
<ul>
<%  find_categories('Chicago Black & White').each do  |category| %>
  <li ><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Vintage</div>
<ul>
<%  find_categories('Chicago Vintage').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Panoramas</div>
<ul>
<%  find_categories('Chicago Panoramas').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

</div>


<div class="nav_column2">


<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Cityscape</div>
<ul>
<%  find_categories('Chicago Cityscape').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>


<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Landmarks</div>
<ul>
<%  find_categories('Chicago Landmarks').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

</div>
</div>
