<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Blackhawks</div>
<ul>
<%  find_categories('Chicago Blackhawks').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %></a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Bears</div>
<ul>
<%  find_categories('Chicago Bears').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %></a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Bulls</div>
<ul>
<%  find_categories('Chicago Bulls').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %></a></li>
<% end %>
</ul>
</div>

</div>


<div class="nav_column2">

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago Cubs</div>
<ul>
<%  find_categories('Chicago Cubs').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<div class='menu_main_category'>Chicago White Sox</div>
<ul>
<%  find_categories('Chicago White Sox').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

</div>

</div>
