<div class="sub_menu_container sub_menu_small">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Best Sellers</h3>
<ul>
<%  find_categories('Best Sellers').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<h3>What's New</h3>
<ul>
<%  find_categories('Whats New').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>



</div>


<div class="nav_column">

<div class="main_cat_grouping">
<h3>Holiday Shopping</h3>
<ul>
<%  find_categories('Holiday Shopping').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>


</div>

</div>
