<div class="sub_menu_container sub_menu_small">

<div class="nav_column">

<div class="main_cat_grouping">
<div class='menu_main_category'>Best Sellers</div>
<ul>
<%  find_categories('Best Sellers').each do  |category| %>
  <li><a href='/photos' > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<div class='menu_main_category'>What's New</div>
<ul>
<%  find_categories('Whats New').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>



</div>


<div class="nav_column">

<div class="main_cat_grouping">
<div class='menu_main_category'>Holiday Shopping</div>
<ul>
<%  find_categories('Holiday Shopping').each do  |category| %>
  <li><a href=<%= category_url(category)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>


</div>

</div>
