<% content_for :meta_title do %>
Payment Details | HorschGallery.com
<% end %>

<% content_for :meta_desc do %>
  Payment Details page for HorschGallery.com
<% end %>

<main class ='payment_main'>
  <div class="row stickem-container">
    <%= semantic_form_for @order, method: :post do |f| %>
    <%= f.semantic_errors :state %>

<section class="cart_wrapper customer_details_wrapper">

  <h1>Payment Information</h1>

  <section class='customer_info_form shipping_info'>
    <h2>Shipping Information</h2>
    <%= f.input :first_name_ship, label: 'First name' %>
    <%= f.input :last_name_ship, label: 'Last name'  %>
    <%= f.input :address1_ship, label: 'Address'  %>
    <%= f.input :address2_ship, label: 'Apt#/Suite#'  %>
    <%= f.input :city_ship, label: 'City'  %>
    <%= f.input :state_ship, label: 'State', as: :select, collection: us_states, :include_blank => false   %>
    <%= f.input :zipcode_ship, label: 'Zip Code'  %>
      <%= f.label 'Location Type' %>
    <%= f.input :is_residential_ship, :as => :radio, :label => "Location Type", :collection => [["Residential", true], ["Business", false]], class: 'radio_buttons_location' %>
  </section>

  <section class='customer_info_form billing_form' >
    <h2>Billing Information&nbsp;&nbsp;
    <%= check_box_tag 'billing_same', 'yes' ,true %>
    <%= label_tag 'billing_same', 'Same as shipping', class: 'billing_same' %>
    </h2>
    <section class='billing_toggle'>
      <%= f.input :first_name_bill, label: 'First name' %>
      <%= f.input :last_name_bill, label: 'Last name'  %>
      <%= f.input :address1_bill, label: 'Address'  %>
      <%= f.input :address2_bill, label: 'Apt#/Suite#'   %>
      <%= f.input :city_bill, label: 'City'  %>
      <%= f.input :state_bill, label: 'State', as: :select, collection: us_states, :include_blank => false   %>
      <%= f.input :zipcode_bill, label: 'Zip Code'  %>
    </section>
  </section>

  <h1>Credit Card Information</h1>
  <%= render 'static_pages/payment/credit_card_info_form' %>

  <h1>Contact Information</h1>
  <section class='customer_info_form'>
    <%= f.input :email %>
    <%= f.input :confirm_email %>
    <%= f.input :phone_number, label: 'Phone', :as => :string %>
  </section>

  <h1>Gift Options &amp; Feedback</h1>
  <section class='customer_info_form few_more_things'>
    <%= f.input :is_gift, label: '&nbsp;This purchase is a gift for someone.&nbsp;&nbsp;Please do not include a receipt with the shipped package.'.html_safe, :as => :boolean %>

    <label for="order_feedback_type"><i class="fa fa-user"></i>&nbsp;&nbsp;How did you first hear about our business?</label>
    <select  id='order_feedback_type' name='order[feedback_type]'><%= options_from_collection_for_select(Feedback.all, 'name', 'name', selected = '1') %></select>
  </section>

<h1>Review Your Order <% if params[:controller] == 'orders' and params[:action] == 'new' %>
      <span class="edit_cart"><%= link_to "Edit Cart", '/shopping_cart' %></span>
    <% end %>
  </h1>

  <%= render 'static_pages/shopping_cart/cart_line_items' %>

</section>

<%= render 'static_pages/shopping_cart/payment_wrapper' %>

<% end %>
</div>
</main>


<script>

$(function(){


  // SHOW BILLING INFO IF NOT SAME FOR SHIPPING
  $('#billing_same').click(function() {
    if( $(this).is(':checked'))
    {
        $(".billing_toggle").hide();
    }
    else
    {
        $(".billing_toggle").show();
        $('#order_first_name_bill').val('')
        $('#order_last_name_bill').val('')
        $('#order_address1_bill').val('')
        $('#order_address2_bill').val('')
        $('#order_city_bill').val('')
        $('#order_state_bill').val('AL')
        $('#order_zipcode_bill').val('')

    }
  });

  // AUTOMATICALLY FILL IN BILLING INFO IF CHECKED
  $('#credit_card').focus(function(){
    if( $('#billing_same').is(':checked') )
    {
      $('#order_first_name_bill').val($('#order_first_name_ship').val())
      $('#order_last_name_bill').val($('#order_last_name_ship').val())
      $('#order_address1_bill').val($('#order_address1_ship').val())
      $('#order_address2_bill').val($('#order_address2_ship').val())
      $('#order_city_bill').val($('#order_city_ship').val())
      $('#order_state_bill').val($('#order_state_ship').val())
      $('#order_zipcode_bill').val($('#order_zipcode_ship').val())
    }
  })


});

</script>

   <!-- # render 'static_pages/shopping_cart/customer_details_wrapper', object: @order  -->

