<div class="photo-container-vert">
  <a href="#"><%= image_tag "image/bw30.jpg" %></a>
  <a href="#"><%= image_tag "image/bw51.jpg" %></a>
  <a href="#"><%= image_tag "image/bw103.jpg" %></a>
  <a href="#"><%= image_tag "image/vint19.jpg" %></a>
  <a href="#"><%= image_tag "image/vint14.jpg" %></a>
  <a href="#"><%= image_tag "image/vint43.jpg" %></a>
  </div>
