<div class="photo-container-vert">
  <a href="#"><%= image_tag "photo/vint19.jpg" %></a>
  <a href="#"><%= image_tag "photo/vint25.jpg" %></a>
  <a href="#"><%= image_tag "photo/vint14.jpg" %></a>
  <a href="#"><%= image_tag "photo/bw51.jpg" %></a>
  <a href="#"><%= image_tag "photo/bw19.jpg" %></a>
  <a href="#"><%= image_tag "photo/bw16.jpg" %></a>
  </div>
