<main class="maincontent">


<div class="panorama_container">
<!-- <img src="pan74_copy.jpg"  alt=""> -->
<%= image_tag "photo/pan74_copy.jpg" %>
</div>


<h1>Quality & Affordable Chicago Photography</h1>

<p class="p_tagline">Over the last 30 years Bob Horsch has documented the dynamic landscape of Chicago through the lens of a camera.  His photography portfolio contains a diverse selection of beautiful framed Chicago skyline photos from all four colorful seasons blended with eye-catching pictures of the Chicago sports teams and home stadiums.</p>


<h3 class="shop_tagline">Shop Our Top Photo Galleries<span class="jeffrey">Prices start at $24</span></h3>
<div class="photo-container-horiz">

<div class="ind_imge">
<%= image_tag "photo/3059.jpg" %>
<h4 class='home_cat_title'>Chicago Cityscape</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/4094.jpg" %>
<h4 class='home_cat_title'>Chicago Aerials</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/1424.jpg" %>
<h4 class='home_cat_title'>Chicago Cityscape</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/260.jpg" %>
<h4 class='home_cat_title'>Chicago Black & White</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/A11.jpg" %>
<h4 class='home_cat_title'>Chicago Blackhawks</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/2900.jpg" %>
<h4 class='home_cat_title'>Chicago Bears</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/1683.jpg" %>
<h4 class='home_cat_title'>Chicago Cubs</h4>
</div>

<div class="ind_imge">
<%= image_tag "photo/1532.jpg" %>
<h4 class='home_cat_title'>Chicago White Sox</h4>
</div>

</div>

<p>Browse the largest collection of quality & affordable framed pictures of Chicago ranging from the early 1900's to the present day.  All of his one-of-a-kind Chicago pictures for sale come in a variety of styles which include vintage, modern, black & white and color.</p>


<div class="photo-container-vert">
<%= image_tag "photo/vint19.jpg" %>
<%= image_tag "photo/vint25.jpg" %>
<%= image_tag "photo/vint14.jpg" %>
<%= image_tag "photo/bw51.jpg" %>
<%= image_tag "photo/bw19.jpg" %>
<%= image_tag "photo/bw16.jpg" %>

</div>



<blockquote>Your memories of Chicago may soften over time, but a photograph of Chicago will preserve every detail.
</blockquote>

<div class='full-image'>
<%= image_tag "photo/2805.jpg" %>

</div>



</main>

