<% content_for :meta_title do %>
  <%= "HorschGallery Photo Search for #{@query.titleize}" %>
<% end %>

<% content_for :meta_desc do %>
  We found some results
<% end %>

<main class="search_main">

<%  if @query.blank? %>

<h1>Search Results for ...</h1>
<p class 'search_header'>Whoops.&nbsp&nbspYou didn't enter any keywords in the search bar.  Please try again.</p>

<%  elsif @photos.count == 0 %>

<h1>Search Results for "<%= @query.downcase %>"</h1>
<p class 'search_header'>We looked everywhere, but couldn't find any photographs that matched your search.&nbsp&nbspPlease check the spelling or enter a new search term.</p>

<% else %>

<h1>Search Results for "<%= @query.downcase %>"</h1>
<p class 'search_header'>You're in luck!  We searched around the gallery and found <span class='search_count'><%= pluralize(@photos.count,'photograph') %></span> that matched your search.</p>




<ul class="photoset_wrapper">

<% @photos.each do |photo| %>
  <li>
    <%= link_to( image_tag("https://s3-us-west-2.amazonaws.com/hg-image/#{photo.id_num}.jpg", class: 'category_image'), photo_url(photo)) %>
    <h4><%= link_to photo.title, photo_url(photo) %></h4>
    <h5 class='sub_cat_search'><%= link_to photo.sub_category, category_url(photo.category) %></h5>
  </li>
<% end %>

</ul>

<%= will_paginate @photos %>

<% end %>


</main>

