<% meta_title "Search Results For xxx" %>
<% meta_desc "xxxxxx" %>



<div class="category_wrapper">

<%  if @query.blank? %>

<h2 class 'search_header'>Whoops.&nbsp&nbspYou didn't enter any keywords in the search bar.  Please try again.</h2>

<%  elsif @photos.count == 0 %>

<h2 class 'search_header'>We looked everywhere, but couldn't find any photographs that matched your search.&nbsp&nbspPlease check the spelling or enter a new search term.</h2>

<% else %>

<h2 class 'search_header'>You're in luck!  We searched around the gallery and found these photographs for you.</h2>

<<<<<<< HEAD


<ul class="photoset_wrapper">

<% @photos.each do |photo| %>
  <li>
    <%= link_to( image_tag("image/#{photo.id_num}.jpg", class: 'category_image'), photo_url(photo)) %>
    <h4><%= link_to photo.title, photo_url(photo) %></h4>
    <h5 class='sub_cat_search'><%= link_to photo.sub_category, category_url(photo.category) %></h5>
  </li>
<% end %>
=======
<ul class="photoset_wrapper">

  <% @photos.each do |photo| %>
    <li>
      <%= link_to( image_tag("image/#{photo.id_num}.jpg", class: 'category_image'), photo_url(photo)) %>
      <h4><%= link_to photo.title, photo_url(photo) %></h4>
      <h5 class='sub_cat_search'><%= link_to photo.sub_category, category_url(photo.category) %></h5>
    </li>
  <% end %>
>>>>>>> 27b27c65fae0605bcd62f6100cbf225db45fbf36
</ul>

<%= will_paginate @photos %>

<% end %>

</div>



