<div></div><p id="notice"><%= notice %></p>

<div class='breadcrumbs'><a href="<%= root_url %>">Home</a> > <a href="<%= root_url %>">Chicago</a> > <a href="<%= root_url %>"><%= @photo.main_category.titleize  %></a> > <a href="<%= root_url %>"><%= @photo.sub_category.titleize  %></a></div>


<div class="product_wrapper">


<div class='product_container'>
<div class='product'>

<%= link_to( image_tag("matted/#{@photo.id_num}.jpg"), "matted/#{@photo.id_num}.jpg") %>

<!-- <a href='/image/<%= @photo.id_num %>.jpg' class='image-link'>
          <img class='feature' src="matted/#{@photo.id_num}.jpg"> </a> -->
<div class='artist'>Photographed by Bob Horsch</div>
<%= image_tag 'SocialButtons.jpg', class: 'social_buttons' %>

</div>
</div>
</div>


<div class="product_info_wrapper">

<div class='product_info'>

<h1 class='photo_title_detail'><%= @photo.title %></h1>

<div class="options_wrapper">
<div class='detail_field'><%= label_tag 'choose-photo_size', 'Choose Your Size:'  %>
<%= select_tag 'choose-size', "<option>8x10 Photo Only</option><option>8x10 Photo w/ 11x14 Mat</option><option>8x10 Photo w/ 11x14 Mat - Framed</option>".html_safe %></div>

<div class='detail_field'><%= label_tag 'choose_mat', 'Mat Color:' %>
<%= select_tag 'choose_mat', "<option>Fog / Black</option><option>Bright White</option>".html_safe %></div>

<div class='detail_field'><%= label_tag 'choose_frame', 'Frame Style:' %>
<%= select_tag 'choose_frame', "<option>Classic Black - Thin Rounded</option><option>Classic Black - Wide Flat</option>".html_safe %></div>

<div class='detail_field'><%= label_tag 'price', 'Price:' %>
<%= label_tag 'price',number_to_currency(89, precision: 0),  class:'price' %></div>

<div class='detail_field'><%= label_tag 'qty', 'Quantity:' %>
<%= select_tag 'qty', "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %></div>

</div>


<div><%= submit_tag 'Add To Cart', class:'addcart' %>
<i class="fa fa-heart fav_button"></i>




</div>

<p class = "product_text"><%= @photo.desc %></div>

</div>


<div class='extra_product_wrapper'>
<h4>Customers Also Viewed</h4>
<div class="ribbon container_backdrop">
<% @photos.each do |photo| %>
<%= link_to( image_tag("matted/#{photo.id_num}.jpg"), photo_url(photo.id) ) %>
<% end %>
</div>
</div>






