<% content_for :meta_title do %>
  <%= "#{@photo.rotating_keyword.titleize} Of #{@photo.title.titleize} | #{@photo.category.meta_desc.titleize}" %>
<% end %>

<% content_for :meta_desc do %>
  Beautiful
<% end %>


<p id="notice"><%= notice %></p>

<main class="photo_main">


<div class='breadcrumbs'>
  <a href="#"><%= @photo.category.super_category %></a> >
  <a href="#"><%= @photo.category.main_category  %></a> >
  <a class = 'detail_page_category_name' href="<%= category_url(@photo.category)  %>"><%= @photo.category.title  %></a>
</div>


<section class='featured_product'>

<div class="product_wrapper">
  <div class='product'>
  <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{@photo.id_num.downcase}.jpg"), "https://s3-us-west-2.amazonaws.com/hg-englarged/#{@photo.id_num.downcase}.jpg" , class: 'image_link', alt: "#{@photo.rotating_keyword.downcase}-of-#{@photo.title.downcase.parameterize}" %>


  <div class="share_wrapper">
    <div class ="fav_button"><i class="fa fa-heart"></i> Favorite</div>
    <div><%= image_tag 'SocialButtons.jpg', class: 'social_buttons' %></div>
  </div>
  <div class='artist'><%= @photo.id_num %> - Photographed by <%= @photo.artist %> in <%= @photo.year_taken %></div>
  <div class="watermark">The purchased photo will not contain a watermark</div>
  </div>
</div>





<div class="product_info_wrapper">

<h1 class='photo_title'><%= @photo.title %></h1>
<p class = "product_text"><%= @photo.desc %></p>

<%= render 'add_to_cart_form' %>

</div>

</section>



<section class="recommended_photoset_wrapper">
<h3>Customers Also Viewed</h3>
<ul>
<% @customer_viewed.each do |photo| %>
    <li>
      <%= link_to( image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{photo.id_num.downcase}.jpg", alt: "#{photo.rotating_keyword.downcase}-of-#{photo.title.downcase.parameterize}"), photo_url(photo)) %>
      <h4><%= link_to photo.title, photo_url(photo) %></h4>
      <h5><%= link_to photo.sub_category, category_url(photo.category) %></h5>
    </li>
  <% end %>
</ul>
</section>

<section class="recommended_photoset_wrapper">
<h3>Your Most Recently Viewed</h3>
<ul>
<% @recently_viewed.each do |photo| %>
    <li>
      <%= link_to( image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{photo.id_num.downcase}.jpg", alt: "#{photo.rotating_keyword.downcase}-of-#{photo.title.downcase.parameterize}"), photo_url(photo)) %>
      <h4><%= link_to photo.title, photo_url(photo) %></h4>
      <h5><%= link_to photo.sub_category, category_url(photo.category) %></h5>
    </li>
  <% end %>
</ul>
</section>

</main>





