<% meta_title "Photo of #{@photo.title } | #{@photo.sub_category}" %>
<% meta_desc "xxxxxxx" %>

<p id="notice"><%= notice %></p>

<div class="page_wrapper">

<div class='breadcrumbs'><a href="<%= root_url %>">Home</a> > <a href="<%= category_url(@photo.category)  %>">Top Main Gallery</a> > <a href="<%= category_url(@photo.category) %>"><%= @photo.main_category.titleize  %></a> > <a href="<%= category_url(@photo.category)  %>"><%= @photo.sub_category.titleize  %></a></div>



<div class="product_wrapper">
<div class='product'>
<%= link_to image_tag("matted/#{@photo.id_num}.jpg"), "/assets/image/#{@photo.id_num}.jpg" , class: 'image_link' %>
<div class="share_wrapper">
  <div class ="fav_button"><i class="fa fa-heart"></i> Favorite</div>
  <div><%= image_tag 'SocialButtons.jpg', class: 'social_buttons' %></div>
</div>
<div class='artist'>Photographed by Bob Horsch in 2004.</div>
<div class="watermark">The purchased photo will not contain a watermark</div>

</div>

</div>



<div class="product_info_wrapper">

<h1 class='photo_title'><%= @photo.title %></h1>

<p class = "product_text"><%= @photo.desc %></p>


<div class='option_row'><%= label_tag 'choose_photo_size', 'Choose Your Size:'  %>
<%= select_tag 'choose_photo_size', "<option>8x10 Photo Only</option><option>8x10 Photo w/ 11x14 Mat</option><option>8x10 Photo w/ 11x14 Mat - Framed</option>".html_safe %></div>

<div class='option_row'><%= label_tag 'choose_mat', 'Mat Color:' %>
<%= select_tag 'choose_mat', "<option>Fog / Black</option><option>Bright White</option>".html_safe %></div>

<div class='option_row'><%= label_tag 'choose_frame', 'Frame Style:' %>
<%= select_tag 'choose_frame', "<option>Classic Black - Thin Rounded</option><option>Classic Black - Wide Flat</option>".html_safe %></div>

<div class='option_row'><%= label_tag 'qty', 'Quantity:' %>
<%= select_tag 'qty', "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %></div>

<div class='option_row'><%= label_tag 'price', 'Price:' %>
<i class="fa fa-usd"></i><label class='price'>79</label><a class='free_return_shipping' href="#"> & Free Return Shipping</a></div>

<ul class="button_wrapper">
<li><%= submit_tag 'Add To Cart', class:'addcart' %></li>

</ul>


</div>




<ul class="recommended_photoset_wrapper">
<h3>Customers Also Viewed</h3>
<% @customer_viewed.each do |photo| %>
    <li>
      <%= link_to( image_tag("matted/#{photo.id_num}.jpg"), photo_url(photo.id)) %>
      <h4><%= photo.title %></h4>
    </li>
  <% end %>
</ul>


</div>



