

<% content_for :meta_title do %>
  <%= "#{@category.meta_title}" %>
<% end %>

<% content_for :meta_desc do %>
  <%= "#{@category.meta_desc}" %>
<% end %>


<p id="notice"><%= notice %></p>

<% if @category.title  != @category.main_category  %>
<%= render 'sub_category_content' %>
<% else %>
<%= render 'main_category_content' %>
<% end %>


<%= render "layouts/newsletter" %>


</main>




