<% @line_items.each do |line_item| %>
<div class="cart_item_wrapper">
  <ul>
    <li>
      <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{line_item.photo.id_num.downcase}.jpg"), photo_url(line_item.photo)  %>

      <%= link_to cart_line_item_path(line_item), method: :delete, class: 'remove_product' do %>
      <i class="fa fa-times"></i> Remove
      <% end %>
    <li>

    <li class="item_details_wrapper">
      <label  class="product_title"><%= line_item.photo.title %></label>
      <label><%= line_item.size.name %></label>
      <label><%= line_item.mat.name %></label>
      <label><%= line_item.frame.name %></label>
      <% if line_item.convert_to_bw %>
      <label>*Convert to B&amp;W*</label>
      <% end %>
      <label>IN STOCK</label>
    </li>


    <li class="item_price_details_wrapper">
    <ul>
      <li class="product_price"><%= number_to_currency(line_item.unit_price, precision: 0) %></li>
      <li class="product_price">x</li>
      <li class="product_qty"><%= line_item.qty %></li>
      <li class="product_price"></li>
      <li class="product_total_price"><%= number_to_currency((line_item.total_price), precision: 0) %></li>
    </ul>
    </li>
  </ul>
</div>


<% end %>



