<% @line_items.each do |line_item| %>
<div class="cart_item_wrapper">
  <ul>
    <li>
      <% if params[:controller] == 'static_pages' and params[:action] == 'cart' %>
        <%  if line_item.size.name.last(4) == "Only" %>
          <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/hg-image/#{line_item.photo.id_num.downcase}.jpg", class: 'photo_only'), photo_url(line_item.photo)  %>
          <% else %>
            <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{line_item.photo.id_num.downcase}.jpg", class: 'matted_framed'), photo_url(line_item.photo)  %>
          <% end  %>
          <%= link_to line_item_path(line_item), method: :delete, class: 'remove_product' do %>
            <i class="fa fa-times"></i> Remove
          <% end %>
      <% else %>
          <%  if line_item.size.name == 'No Mat' && line_item.frame.name == 'No Frame' %>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/hg-image/#{line_item.photo.id_num.downcase}.jpg")  %>
          <% else %>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/hg-matted/#{line_item.photo.id_num.downcase}.jpg")  %>
          <% end %>
      <% end %>
    <li>

    <li class="item_details_wrapper">
      <label  class="product_title"><%= line_item.photo.title %></label>
      <label>Size:&nbsp;&nbsp;<%= line_item.size.name %></label>
      <% if (line_item.mat.name == 'No Mat' && line_item.frame.name == 'No Frame')  %>
        <!-- do nothing -->
      <% else %>
        <label>Mat:&nbsp;&nbsp;<%= line_item.mat.name %></label>
        <label>Frame:&nbsp;&nbsp;<%= line_item.frame.name %></label>
      <% end %>
      <% if line_item.convert_to_bw %>
        <label>*Convert to B&amp;W*</label>
      <% end %>
      <label>IN STOCK</label>
    </li>

    <li class="item_price_details_wrapper">
    <ul>
      <li class="product_price"><%= number_to_currency(line_item.unit_price, precision: 0) %></li>
      <li class="product_price">x</li>
      <li class="product_qty"><%= line_item.qty %></li>
      <li class="product_price"></li>
      <li class="product_total_price"><%= number_to_currency((line_item.total_price), precision: 0) %></li>
    </ul>
    </li>
  </ul>
</div>


<% end %>



