<section class="cart_wrapper customer_details_wrapper">
  <h1>Payment Information</h1>
  <%= render 'static_pages/payment/shipping_info_form' %>
  <%= render 'static_pages/payment/billing_info_form' %>

  <h1>Credit Card Information</h1>
  <%= render 'static_pages/payment/credit_card_info_form' %>

  <h1>Contact Information</h1>
  <%= render 'static_pages/payment/contact_info_form' %>

  <h1>Review Order</h1>
  <%= render 'static_pages/shopping_cart/cart_line_items' %>
</section>
