<section class="payment_summary_wrapper">

  <h2>Order Summary</h2>

  <fieldset class='bold_price_field'>
    <label class = 'payment_label_left'>Subtotal</label>
    <div class="text_align-right">
      <label class = 'payment_label_right'><%= number_to_currency(shopping_cart.subtotal_price, precision: 2) %></label>
  </div>
  </fieldset>

  <fieldset>
    <label class = 'payment_label_left'>Packaging</label>
    <div class="text_align-right"><label class = 'payment_label_right packaging'>FREE</label></div>
  </fieldset>

  <fieldset>
    <label class = 'payment_label_left'>Shipping</label>
    <div class="text_align-right"><label class = 'payment_label_right'><%= number_to_currency(shopping_cart.shipping_price, precision: 2) %></label></div>
  </fieldset>

  <fieldset>
    <label class = 'payment_label_left'>Tax</label>
    <div class="text_align-right"><label class = 'payment_label_right'>tbd</label></div>
  </fieldset>

  <fieldset class='bold_price_field grand_total'>
    <label class = 'payment_label_left'>Total</label>
    <div class="text_align-right"><label class = 'payment_label_right'><%= number_to_currency(shopping_cart.grand_total_price, precision: 2) %></label></div>

  </fieldset>


  <% if params[:controller] == 'static_pages' and params[:action] == 'cart' %>
    <%= link_to 'Proceed To Payment', '/payment', class: 'call_to_action_btn checkout_btn' %>
  <% elsif  params[:controller] == 'static_pages' and params[:action] == 'payment' %>
    <%= link_to 'Place Order', '/confirmation', class: 'call_to_action_btn checkout_btn' %>  <% end %>

</section>




