<section class="payment_summary_wrapper">

  <% subtotal_price = 0 %>
  <% @line_items.each do |line_item| %>
  <% subtotal_price +=  ((line_item.size.price + line_item.frame.price) * line_item.qty) %>
  <% end %>


<% shipping_total = 15 %>


  <% grand_total = subtotal_price + shipping_total %>




  <h2>Order Summary</h2>

  <fieldset class='bold_price_field'>
    <label class = 'payment_label_left'>Subtotal</label>
    <div class="text_align-right">
      <label class = 'payment_label_right'><%= number_to_currency(subtotal_price, precision: 2) %></label>
  </div>
  </fieldset>

  <fieldset>
    <label class = 'payment_label_left'>Packaging</label>
    <div class="text_align-right"><label class = 'payment_label_right packaging'>FREE</label></div>
  </fieldset>

  <fieldset>
    <label class = 'payment_label_left'>Shipping</label>
    <div class="text_align-right"><label class = 'payment_label_right'><%= number_to_currency(shipping_total, precision: 2) %></label></div>
  </fieldset>

  <fieldset>
    <label class = 'payment_label_left'>Tax</label>
    <div class="text_align-right"><label class = 'payment_label_right'>tbd</label></div>
  </fieldset>

  <fieldset class='bold_price_field grand_total'>
    <label class = 'payment_label_left'>Total</label>
    <div class="text_align-right"><label class = 'payment_label_right'><%= number_to_currency(grand_total, precision: 2) %></label></div>
  </fieldset>

  <input class="call_to_action_btn checkout_btn"type="submit" value='Proceed To Payment'>

  <p>**Tax applied for orders shipped to IL only</p>
  <%= link_to "payment", '/payment' %>
  <%= link_to "confirmation", '/confirmation' %>

</section>



<section class="payment_summary_wrapper payment_help_wrapper">

  <h6 class='free_returns'><i class="fa fa-star"></i>Free Returns</h6>
  <p class='weknow'>If you don't love your new photograph, no need to worry</p>
 <!--  <p>We offer a 14 day return policy and free return shipping.</p> -->

  <h6><i class="fa fa-arrow-circle-right"></i>Shipping Info</h6>
  <p>UPS Ground</p>
  <p>3-5 business days</p>


  <h6><i class="fa fa-question-circle"></i>Have A Question</h6>
  <p>Call us at 708.590.6437</p>
  <p>Mon-Sat:&nbsp;&nbsp;9am - 6pm</p>


</section>
