<div id="fb_mat_modal" class='modal'>

<h1 class='modal_header'>Deciding On A Mat Color</h1>

<p>&#8226;&nbsp;&nbsp;Below you will find digital recreations of our physical mat and frame combinations.  We designed these digital mats to be nearly identical in color and texture to the real thing.
</p>

<p>&#8226;&nbsp;&nbsp;Nothing is perfect in the digital world so the colors may be slightly off due to the angle you are viewing your monitor screen as well as your monitor settings.
</p>

<p>&#8226;&nbsp;&nbsp;If you are not fully satisfied with the actual mat or frame once you receive your new photograph, we are happy to offer you free return shipping along with a full refund.
</p>
<!-- <p>These digital mat/frame images were designed for a 16x20 photo with a mat/frame overall size of 20x24.
</p>
<p>Other options will have a slightly different window opening depending on the size of the photograph.
</p>
<p>Click on the links below to jump to the colored mat of your choice... -->
</p>
<ul class ='mat_wrapper'>
  <div class='mat_section'>Cityscape</div>
  <li>
    <div class='mat_name'>Bright White / Single</div>
    <%= image_tag '1.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Fog/Black</div>
    <%= image_tag '2.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Granite / Midnight Blue</div>
    <%= image_tag '3.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Cream / Dark Green</div>
    <%= image_tag '4.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Cream / Dark Brown</div>
    <%= image_tag '5.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Cream / Midnight Blue</div>
    <%= image_tag '6.jpg' %>
  </li>
</ul>

<ul class ='mat_wrapper'>
  <div class='mat_section'>Sports Teams</div>
  <li>
    <div class='mat_name'>Blue / Red</div>
    <%= image_tag '7.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Fog/Black</div>
    <%= image_tag '2.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Midnight Blue / Orange</div>
    <%= image_tag '8.jpg' %>
  </li>
  <li>
    <div class='mat_name'>Black / Red</div>
    <%= image_tag '9.jpg' %>
  </li>
    <li>
    <div class='mat_name'>Navy Blue / Gold</div>
    <%= image_tag '10.jpg' %>
  </li>
    <li>
    <div class='mat_name'>Midnight Blue / Red</div>
    <%= image_tag '11.jpg' %>
  </li>
    <li>
    <div class='mat_name'>Midnight Blue / White</div>
    <%= image_tag '12.jpg' %>
  </li>
</ul>




</div>
