<div class="bottom_nav">
  <nav class="bottom_nav_content">
    <ul>


   <li class="main_menu"><h2><a class='main_menu_link' href="#">Most Popular</a></h2>
      <%= render "layouts/super_categories/gifts" %>
    </li>
    <li class="main_menu"><h2><a id='myid' class='main_menu_link' href="#">Chicago Cityscape</a></h2>
      <%= render "layouts/super_categories/chi_cityscape" %>
    </li>
    <li class="main_menu"><h2><a class='main_menu_link' href="#">Chicago Sports</a></h2>
      <%= render "layouts/super_categories/chi_sports" %>
    </li>
      <li class="main_menu"><h2><a class='main_menu_link' href="#">Top US Cities</a></h2>
    <%= render "layouts/super_categories/us_cities" %>
    </li>
    <li class="main_menu"><h2><a class='main_menu_link' href="#">Other Sports</a></h2>
      <%= render "layouts/super_categories/other_sports" %>
    </li>
    <li class="main_menu"><h2><a class='main_menu_link' href="#">Nature</a></h2>
      <%= render "layouts/super_categories/nature" %>
    </li>
  </uL>
  </nav>
  <% if params[:controller] == 'photos' && params[:action] == 'show' %>
   <div class="sale_nav">
    <nav class="sale_nav_content">Our March Sale is going on this week.&nbsp;&nbsp;&nbsp;&nbsp;Get 15% off your entire order by provided your feedback.&nbsp;&nbsp;&nbsp;&nbsp;Take our 2 mintue survey</nav>
  </div>
  <% end %>
</div>
