
<div class="sub_menu_container">

<div class="nav_column">

<div class="main_cat_grouping">
<h3>Chicago Black & White</h3>
<ul>
<%  find_categories('Chicago Black & White').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago Vintage</h3>
<ul>
<%  find_categories('Chicago Vintage').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

<div class="main_cat_grouping">
<h3>Chicago Panoramas</h3>
<ul>
<%  find_categories('Chicago Panoramas').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>



</div>

<div class="nav_column">


<div class="main_cat_grouping">
<h3>Chicago Cityscape</h3>
<ul>
<%  find_categories('Chicago Cityscape').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>


<div class="main_cat_grouping">
<h3>Chicago Landmarks</h3>
<ul>
<%  find_categories('Chicago Landmarks').each do  |category| %>
  <li><a href=<%= category_url(category.id)%> > <%= category.title %> </a></li>
<% end %>
</ul>
</div>

</div>
