<div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Contact Info</li>
      <li><%= mail_to 'horschgallery@gmail.com', 'Email Us', target: '_blank' %></li>
      <li><a href='#'>Call 708-590-6437</a></li>
    </ul>
  </div>

  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Photo Options</li>
      <li>
        <a href="#fb_photo_sizes_modal" rel = "nofollow" class="option_helpers">Compare Sizes</a>
        <div class="fancybox_hidden"><%= render 'photos/modals/photo_sizes_modal' %></div>
      </li>

      <li>
        <a href="#fb_mat_modal" rel = "nofollow" class="option_helpers">Compare Mat Colors</a>
        <div class="fancybox_hidden"><%= render 'photos/modals/mat_modal' %></div>
      </li>

      <li>
        <a href="#fb_frame_modal" rel = "nofollow" class="option_helpers">View Frame Options</a>
        <div class="fancybox_hidden"><%= render 'photos/modals/frame_modal' %></div>
      </li>

      <li>
        <a href="#fb_bw_modal" rel = "nofollow" class="option_helpers">B&amp;W Conversions</a>
        <div class="fancybox_hidden"><%= render 'photos/modals/bw_modal' %></div>
      </li>
    </ul>
  </div>

  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Shipping</li>
      <li><a href='#'>UPS Ground</a></li>
      <li><a href='#'>3-5 Business Days</a></li>
    </ul>
  </div>

  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Free Returns</li>
      <li><a href='/returns'>Free Return Shipping</a></li>
      <li><a href='/returns'>14 Day Return Policy </a></li>
    </ul>
  </div>

  <div class="footer_info">
    <ul>
      <li class = 'footer_section_title'>Extra Info</li>
      <li><a href='/art_fairs'>Upcoming Art Fairs</a></li>
      <li><a href='/reviews'>Read Customer Reviews</a></li>
    </ul>
  </div>

    <div class="footer_info">
    <ul>
      <li class="top_of_page"><a href="#">
        <div class="toparrow"><i class="fa fa-arrow-up"></i> </div>
        <div class="top">Top</div>
        </a>
      </li>
    </ul>
  </div>
