<!DOCTYPE html>
<html>
<head>

  <%= render "layouts/meta_data" %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


<!-- Add fancyBox -->
<!-- <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script> -->



<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" /> -->

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed|Quattrocento|Playfair+Display+SC' rel='stylesheet' type='text/css'>

</head>

<body>

  <div class="body_container" >

    <header>

      <%= render "layouts/top_nav" %>
      <%= render "layouts/bottom_nav" %>

    </header>

    <div class="header_space_holder"></div>

    <%= yield %>

  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
