<!DOCTYPE html>
<html>
<head>

<title><%= yield(:title) %></title>
<meta name="description" content="<%= yield(:meta_desc) %>"/>

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed|IM+Fell+French+Canon' rel='stylesheet' type='text/css'>

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/assets/magnific-popup.css">
  <!-- Magnific Popup core JS file -->
<script src="/assets/jquery.magnific-popup.js"></script>




<%= csrf_meta_tags %>
</head>
<body>

<div class="body_container">

<header>

<div class="top_nav">
  <nav class="top_nav_content">
    <ul class='restofheader'>


      <li class="logoname"><a href="/" >HorschGallery</a></li>
      <li><input type="text" class="search_field" placeholder = "Search over 1000+ photographs" class="fa-search" ></li>
      <a href=""><i class="fa fa-search"></i></a>
      <li class = "photographers">The Photographers</li>
      <li class = "account"><i class="fa fa-shopping-cart"></i>Shopping Cart</li>
    </ul>
  </nav>
</div>

<div class="bottom_nav">
  <nav class="bottom_nav_content">
   <!--  <li class="main_menu"><h2><a class='main_menu_link' href="#">Best Sellers</a></h2>
      <%= render "layouts/gifts" %>
    </li> -->
    <ul>
    <li class="main_menu"><h2 class='main_menu_link browse' href="#">Browse Galleries<i class="fa fa-arrow-right"></i></h2>

    <li class="main_menu"><h2><a class='main_menu_link' href="#">Chicago Cityscape</a></h2>
      <%= render "layouts/chi_cityscape" %>
    </li>
    <li class="main_menu"><h2><a class='main_menu_link' href="#">Chicago Sports</a></h2>
      <%= render "layouts/chi_sports" %>
    </li>
      <li class="main_menu"><h2><a class='main_menu_link' href="#">Top US Cities</a></h2>
    <%= render "layouts/us_cities" %>
    </li>
    <li class="main_menu"><h2><a class='main_menu_link' href="#">Other Sports</a></h2>
      <%= render "layouts/other_sports" %>
    </li>
    <li class="main_menu"><h2><a class='main_menu_link' href="#">Nature</a></h2>
      <%= render "layouts/nature" %>
    </li>
  </uL>
  </nav>
</div>

</header>



  <div class="header_space_holder"></div>

<%= yield %>



  <footer>
  <!--   <div class="signupnewsletter"><a href="#">JOIN OUR NEWSLETTER</a></div> -->

    <div>@HorschGallery 2014</div>



  </footer>

</div>

</body>
</html>
